/* Style sheet for the Student Survey form.*/

.form-field{
    padding : 3px;
    margin : 5px;
}
.form-label{
    color : rgb(255,0,0);
    font-size: 20px;
}
#label-likeness{
    color : blue;
}
.field-checkbox div,.field-radio div{
    white-space: nowrap;
    display: inline;
} 

#label-fascination{
    color : rgb(0,54,0);
}

.button{
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
}
input[type =submit],input[type = button]{
    border-radius: 5px;
    background-color: rgb(36, 151, 120);
    text-transform: uppercase;
    color : rgb(59, 17, 69);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

input[type =submit]:hover{	
	background-color: white;
}

input[type = button]:hover{	
	background-color: red;
}
